certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
coloredlogs==15.0.1
ctranslate2==4.6.0
dataclasses-json==0.6.7
dotenv==0.0.5
fastapi==0.112.0
filetype==1.2.0
google-generativeai==0.8.5
huggingface-hub==0.25.2
humanfriendly==10.0
idna==3.7
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
langchain==0.2.11
langchain-community==0.2.18
langchain-core==0.2.24
langchain-google-genai==1.0.8
langchain-huggingface==0.0.3
langchain-openai==0.1.17
langsmith==0.1.91
loguru==0.7.2
marshmallow==3.21.4
num2words==0.5.13
numpy==2.0.1
openai==1.38.0
packaging==24.1
phonemizer==3.2.1
prompt-toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
py-cpuinfo==9.0.0
pydantic==2.8.2
pydantic_core==2.20.2
python-dotenv==1.0.1
pyttsx3==2.90
requests==2.32.3
spacy==3.8.0
SpeechRecognition==3.10.4
uvicorn==0.30.3
voicetalk==0.0.4
wikipedia==1.4.0
